.App {
  background-color: white;
}

.App .navbar {
  background-color: #401e17;
  padding: 12px 30px;
  height: 42px;
  /* position: absolute;
  z-index: 1000;*/
  font-family: "League Spartan", sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.App .navbar a:link {
  text-decoration: none;
  color: white;
}

.App .header {
  background-color: #fcf8f4;
  color: #401e17;
  height: 70px;
  padding: 0 50px;
}

.App .header h1 {
  line-height: 70px;
}

.App .header a {
  display: flex;
  align-items: center;
  padding: 25px 0;
}

.App .header ul {
  list-style: none;
  line-height: 70px;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
}

.App .header .menu-list {
  font-size: 15px;
}

.App .header .menu-icons {
  font-size: 20px;
}

@media (max-width: 1200px) {
  .App .country,
  .App .store-locator,
  .App .professionals {
    visibility: hidden;
  }
}
