.App {
  background-color: white;
}

.App .navbar {
  background-color: #401e17;
  padding: 12px 10px;
  height: 42px;
  /* position: absolute;
  z-index: 1000;*/
  font-family: "League Spartan", sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.App .navbar a:link {
  text-decoration: none;
  color: white;
}

.App .header {
  background-color: #fcf8f4;
  color: #401e17;
  height: 70px;
}

.App .header h1 {
  margin: 0;
  padding: 12px;
}

.App .header a {
  vertical-align: baseline;
}

.App .header img {
  aspect-ratio: auto 250 / 19.5;
  /*box-sizing: border-box;*/
  cursor: pointer;
  display: inline;
  /* font-size: 12px;
  font-weight: 500;
  height: 13.1932px;
  letter-spacing: 2px;
  line-height: 12px;*/
  max-width: 235px;
  overflow-clip-margin: content-box;
  /* text-align: center;
  text-decoration-thickness: auto;
  text-transform: uppercase;
  text-underline-offset: 9px;*/
  width: 161px;
  /*word-break: break-word;*/
}

@media (max-width: 1200px) {
  .App .country,
  .App .store-locator,
  .App .professionals {
    visibility: hidden;
  }
}
